#table-tasks td {
  vertical-align: middle;
}
    
#table-task {
  th {
    text-align: center;
  }
  td {
    white-space: pre-wrap;
  }
}

.task_name {
  font-size: 16px;
}

.label-newtask {
  margin-top: 5px;
}

.btn-newtask {
  margin-top: 10px;
}